.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #333;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: #666;
}
.main-borderpane {
    -fx-background-color: #f0f0f0;
}

.chart-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
